<nav class="ui stackable menu">
  
  <!-- SkinB4se Logo -->
  <header class="ui header item">
    <a href="/">SkinB4se</a>
  </header>

  <!-- Right side navigation -->
  <div class="right menu">
    <a href="/dashboard" class="item">
      <i class="grid layout icon"></i> Dashboard
    </a>
    <a href="/calculator" class="item">
      <i class="calculator icon"></i> Calculator
    </a>
    <a href="/about" class="item">
      <i class="info circle icon"></i> About
    </a>
  </div>

</nav>